# Node
node_modules/
dist/
*.log

# Python
venv/
__pycache__/
*.pyc

# Environment & keys
.env
firebase-key.json
serviceAccountKey.json

# OS/editor junk
.DS_Store
*.swp
backend/venv/
frontend/node_modules/
